<h1>Livros disponíveis:</h1>

<div class="books-container">
  <a href="/">Adicionar novo livro</a>

  {{#each books}}
    <div>
      #{{this.id}}
      -
      <a href="/books/{{this.id}}"><span class="bold">{{this.title}}</span></a>
      -
      {{this.pages}}
      páginas
    </div>

  {{/each}}

</div>